<%--
  Created by IntelliJ IDEA.
  User: thabtis
  Date: 20/08/2013
  Time: 23:48
  To change this template use File | Settings | File Templates.
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
  <title></title>
    <meta name='layout' content='main'/>
</head>
<body>
<h1>Demo:</h1><h2>Cropped</h2>


<img id="sabeur" src="${resource(dir: "images", file: "sabeur.png")}" alt=""/>
</body>
</html>